@using ASP_3.Models;
@model ASP_3.Models.ModelUser
@{
    Layout = null;
    User User = ViewBag.user;
    IEnumerable<SelectListItem> item = ViewBag.Item;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/CSS/Style.css" />
    <title>Edit User</title>
</head>
<body>
    <div class="form_user">
        <div class="title_form">
            <h1>Edit User</h1>
        </div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            if (User != null)
            {
                <div class="section">
                    <p>Имя: </p>
                    <div class="Text">
                        @Html.TextBox("FirstName", User?.FirstName)
                    </div>
                </div>
                <div class="section">
                    <p>Фамилия: </p>
                    <div class="Text">
                        @Html.TextBox("LastName", User?.LastName)
                    </div>
                </div>
                <div class="section">
                    <p>Логин: </p>
                    <div class="Text">
                        @Html.TextBox("Login", User?.Login)
                    </div>
                </div>
                <div class="section">
                    <p>Пароль: </p>
                    <div class="Text">
                        @Html.TextBox("Password", User?.Password)
                    </div>
                </div>
                <div class="section">
                    <p>Почта: </p>
                    <div class="Text">
                        @Html.TextBox("Email", User?.Email)
                    </div>
                </div>
                <div class="section">
                    <p>Телефон: </p>
                    <div class="Text">
                        @Html.TextBox("Phone", User?.Phone)
                    </div>
                </div>
                <div class="section">
                    <p>Роль: </p>
                    <div class="Text">
                        @Html.DropDownListFor(x => x.role, item)
                    </div>
                </div>
                <div class="button">
                    <input type="submit" name="@User.Id" value="Save" />
                </div>
            }
        }
    </div>
<div class="menu">
    @Html.ActionLink("Add User", "Index")
    @Html.ActionLink("Users List", "ShowUsers")
    @Html.RouteLink("Add Role", new { controller = "Role", action = "Index" })
    @Html.RouteLink("Roles List", new { controller = "Role", action = "ShowRole" })
</div>
</body>
</html>
